# OpenSSL configuration file for creating a CSR for a server certificate
# Adapt at least the FQDN and ORGNAME lines, and then run 
# openssl req -new -config server.cnf -keyout server.key -out server.csr
# on the command line.

FQDN = usmsf-svc.smsf.svc.cluster.local
ORGNAME = UANGEL
ORGUNIT = CoreTEch
ALTNAMES = DNS:$FQDN   # , DNS:bar.sepp.uangel.com , DNS:www.sepp.uangel.com

# --- no modifications required below ---
[ req ]
#default_bits = 2048
#default_md = rsa
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C  = KO
ST = KyeongKi
L  = SeongNam
O  = $ORGNAME 
OU = $ORGUNIT 
CN = $FQDN
emailAddress = coretech@uangel.com
	   
[ req_ext ]
subjectAltName = $ALTNAMES
